@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Poppins:300,400,500,600,700');

$poppins: 'Poppins', sans-serif;
$lato: 'Lato', sans-serif;

$light: 300;
$reg: 400;
$med: 500;
$semi: 600;
$bold: 700;

//COLORS
$c-primary: #336799;
$c-secondary: #FFCC66;
$c-third: #196E92;
$c-btn-1: #336799;
$c-btn-2: #2CB3A1;
$text-dark: #1C1C1C;
$text-light: #87888C;
$nav-link: #E9E9E9;

$pc: 1620px;
$laptop: 1370px;
$tablet: 991px;
$mobile-1: 500px;
$iphone6plus: 415px;
$small: 350px;
