@keyframes border-bottom {
    from {
    	border-bottom: 1px solid $c-secondary;
    }

    to {
    	border-bottom: 2px solid $c-secondary;
    }
}

@keyframes anim-1{

	0%
	{
		transform: rotate(xx) translateY(0%);
	}
	50%
	{
		transform: translateY(-2%);
	}
	100%
	{
		transform: rotate(xx) translateY(0%);
	}
}