<main class="py-5">
	<div class="container">
		<div class="grid">
			<div class="category-name">
				<h4 class="text-dark">CATEGORY | <span class="c-primary">Personal Care</span></h4>
			</div>
			<section class="prod-image">
				<figure>
					<img class="img-fluid" src="../../../assets/img/promag50.JPG" alt="">
				</figure>
			</section>
			<section class="prod-desc">
				<h4 class="text-muted title">DESCRIPTION</h4>

				<p>PROMAG 300 is magnesium hydroxide that has undergone calcination process for human use using Nano technology. Magnesium is among the nutrients that our body badly needs. Study has it that magnesium is responsible for 300 BIOCHEMICAL REACTIONS in our body. But nowadays, most adults are deficient in this mineral. Magnesium helps maintain nerve and muscle functions, support immune system, keep the heart beat steady, and help bones to remain strong. It also helps regulate blood glucose levels and aid in the production of energy and protein. PROMAG 300 is designed to supplement our body with magnesium transdermal or through the skin thereby solving the problem of magnesium deficiency. TRANSDERMAL MAGNESIUM therapy is a new form of magnesium supplementation that is easy, convenient, and affordable. Transdermal, or “topical” magnesium is particularly helpful for those seeking a safe method of increasing magnesium intake beyond that possible with oral supplements.</p>

				<h4 class="name">PROMAG 300 50ml</h4><br>
				<h4 class="price">PHP 385.00</h4>

				<button class="myButt reveal-bottom w-100">
				<div class="layer text-white"><fa name="fas fa-plus"></fa></div>
				<span class="mr-3">ADD TO CART</span>  <fa name="fas fa-shopping-cart"></fa>
				</button>

			</section>
			<section class="related-products">
				<h4 class="text-muted">RELATED PRODUCTS</h4>
				<div class="prod-grid-wrapper">
					<div class="prod-holder">
						<figure>
							<img class="img-fluid" src="../../../assets/img/promag150.JPG" alt="">
							<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
								<h1 class="text-center">
									<fa name="fas fa-shopping-cart"></fa>
									<br>
									<h5>ADD TO CART</h5>
								</h1>
							</a>
						</figure>
					</div>
					<div class="prod-holder">
						<figure>
							<img class="img-fluid" src="../../../assets/img/promag1.JPG" alt="">
							<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
								<h1 class="text-center">
									<fa name="fas fa-shopping-cart"></fa>
									<br>
									<h5>ADD TO CART</h5>
								</h1>
							</a>
						</figure>
					</div>
					<div class="prod-holder">
						<figure>
							<img class="img-fluid" src="../../../assets/img/soap.jpg" alt="">
							<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
								<h1 class="text-center">
									<fa name="fas fa-shopping-cart"></fa>
									<br>
									<h5>ADD TO CART</h5>
								</h1>
							</a>
						</figure>
					</div>
				</div>
			</section>
		</div>
	</div>
</main>