<!-- WHAT IS MAGNESIUM -->
<section class="page-section about-us">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12">
        <h2 class="c-primary mt-5">BENEFITS OF MAGNESIUM</h2>
        <p class="text-dark">Magnesium is one of the six essential macro-minerals that comprise 99% of the body’s mineral content. Magnesium helps build
        bones, enables nerves to function, and is essential to the production of energy from food.</p>

        <h5>BENEFITS OF MAGNESIUM</h5>
        <ul>
          <li class="text-light">Promotes better sleep</li>
          <li class="text-light">Reduces muscle aches, pains, cramping and spasms</li>
          <li class="text-light">Provides healthy skin and reduces outbreaks of eczema</li>
          <li class="text-light">Helps in relaxation and stress management</li>
          <li class="text-light">Increases energy levels and improve moods</li>
          <li class="text-light">Enhances athletic performance</li>
          <li class="text-light">Reduces inflammation</li>
          <li class="text-light">Helps in the treatment of cancer, diabetes, arthritis and chronic illness</li>
          <li class="text-light">Helps regulate blood pressure</li>
        </ul>
        <h5>Magnesium is good for your Health</h5>
        <p>Magnesium is a safe and required dietary element, whose ability to contribute towards optimal health is explained simply
        by observing one of the primary causes poor health—a body functioning in deficit. <br><br> Medical scientists continue to tease out the details of the biochemical processes that can malfunction as a result of magnesium
        deficiency. Yet it remains true that scientists have known for decades that magnesium is an essential mineral vital to good
        health. And natural sources of magnesium have been prized both for nutrition and healing for centuries. <br><br> Proof for the ability of magnesium to address a wide range of health concerns comes on an ongoing basis. Meanwhile, we live
        in a population starved for more of this essential nutrient. No further proof is necessary to maintain and seek the benefits
        of magnesium toward optimal health and well-being.</p>
        <h5>PARTIAL LIST BENEFITS OF MAGNESIUM:</h5>
        <p>1. <b>BETTER SLEEP</b> – The sleep regulating hormone melatonine is distributed when Magnesium is deficient. Furthermore, Magnesium
        brings balance and controls stress hormones. Stress and tension are often reasons why people suffer from insomnia in the
        first place. <br>
        2. <b>RELAXES THE NERVOUS SYSTEM</b> – Serotonin, which relaxes the nervous system and elevates mood, is dependent
        on Magnesium. <br>
        3. <b>BIGGER, STRONGER MUSCLES</b> – Magnesium allows the body to produce more insulin-like Growth Factor (IGF-1),
        which is a major contributor to the growth and strength of muscles. Furthermore, adenosine triphosphate (ATP) is the cell’s
        energy store, and is created with help from Magnesium <br>
        4. <b>BETTER FLEXIBILITY</b> – Magnesium loosens tight muscles. Without Magnesium,
        muscles do not relax properly and cramps occur. Magnesium is important for flexibility, because low Magnesium results in
        a buildup of lactic acid, causing pain and tightness. <br>
        5. <b>BONE INTEGRITY AND STRENGTH</b> – Magnesium helps to fix calcium properly.
        It may blow some peoples’s mind that the calcium supplements they’re taking are not only useless, but are actually contributing
        to Osteoporosis! There are actually about eighteen essential nutrients that contribute to bone health; Magnesium is definitely
        one of the most essential, because it stimulates a particular hormone called calcitonin. And, it also suppresses a hormone
        call parathyroid that break down bone. <br>
        6. <b>REMINERALIZES TEETH</b> – Magnesium deficiency causes an unhealthy balance of phosphorus
        and calcium in saliva, which damages teeth. <br>
        7. <b>ALKALIZES THE BODY</b> – Magnesium helps return the body’s pH balance. Magnesium
        reduces lactic acid, which is partly responsible for post-exercise pain (Delayed Onset Muscle Soreness). <br>
        8. <b>HYDRATES</b> – Magnesium
        is a necessary electrolyte essential for proper hydration. <br>
        9. <b>HELPS TO RELIEVE CONSTIPATION</b> – Magnesium can be used to cleanse
        the bowels of toxins. <br>
        10. <b>ENZYME FUNCTION</b> – Enzymes are protein molecules that stimulate every chemical reaction in the body.
        Magnesium is required to make hundreds of these enzymes work and assists with thousands of others. <br>
        11. <b>DIABETES</b> – Magnesium
        enhances insulin secretion, which facilitates sugar metabolism. Without Magnesium, glucose is not able to transfer into cells.
        Glucose and insulin build up in the blood, causing various types of tissue damage, including the nerves in the eyes. <br>There are many other benefits of Magnesium: It helps prevent stroke, heart disease, period pain, and more. </p>

        <p>“Like water we need magnesium everyday” <br><br> “There is an eternal need for magnesium as well as water and when magnesium is present
        in water life and health are enhanced”</p>
      </div>
    </div>
  </div>
</section>