@import "../../../styles";

*
{
	font-family: $lato;
}

// HOME
.home-banner
{
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	@include flex();
	flex-direction: column;

	.btn-holder
	{
		@include flex();

		@media screen and (max-width: $mobile-1)
		{
			flex-direction: column;

			button
			{
				margin: 1rem 0;
			}
		}
	}
}

// MAGNENIUM INTRO
.magnesium
{
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "image intro";

	@media screen and (max-width: $tablet)
	{
		grid-template-columns: auto auto;
		grid-template-areas:
			"image image"
			"intro intro";
	}

	.img-holder
	{
		grid-area: image;
		/* The image used */
		background-image: url("../../../assets/img/person.jpg");

		/* Full height */
		height: 100%;
		padding: 100px;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.container-fluid
	{
		grid-area: intro;
	}

	.grid
	{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		grid-gap: 1rem;
		grid-template-areas:
			"myheader myheader myheader"
			"paragraph paragraph paragraph"
			"importance benefits uses";

			@media screen and(max-width: $mobile-1)
			{
				grid-template-areas: 
					"myheader myheader myheader"
					"paragraph paragraph paragraph"
					"importance importance importance"
					"benefits benefits benefits"
					"uses uses uses";
			}

		h2
		{
			grid-area: myheader;
		}

		p
		{
			grid-area: paragraph;
		}
		
		.importance
		{
			grid-area: importance;
		}

		.benefits
		{
			grid-area: benefits;
		}

		.uses
		{
			grid-area: uses;
		}

	}
}

// PROMAG PRODUCT
.promag
{
	background-color: #E9E9E9;

	figure
	{
		@include flex();
	}
}

// PRODUCTS
.products
{
	.product-header
	{
		@include flex-custom(flex, center, start);
		border-bottom: 1px solid rgba(#000, 0.5);

		a
		{
			margin-left: auto;
		}

		@media screen and (max-width: 500px)
		{
			flex-wrap: wrap;

			a
			{
				margin-left: 0;
				margin-bottom: 5px;
			}
		}
	}

	.prod-display-holder
	{
		// @include flex();
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1rem;
		align-items: stretch;

		@media screen and (max-width: 991px)
		{
			grid-template-columns: 1fr 1fr;
		}

		.prod-order
		{
			.prod-image
			{
				@include transition(0.3s);
				position: relative;
				overflow: hidden;
				z-index: 1;

				img
				{
					object-fit: cover;
					width: 100%;
				}

				.overlay
				{
					@include flex();
					@include transition(0.5s);
					// display: none;
					top: -70px;
					width: 100%;
					height: 100%;
					text-decoration: none;

					.btn-view-details
					{
						@include transition(0.5s);
						display: none;
					}
				}

				&:hover
				{
					.overlay
					{
						@include transition(0.5s);

						display: block;
						position: absolute;
						top: 0;
						// left: 0;
						z-index: 3;
						background-color: rgba($c-third, 0.5);

						.btn-view-details
						{
							@include transition(0.5s);
							display: block;
						}
					}
				}
			}

			.prod-info
			{

			}

			.prod-cart
			{
				button
				{
					@include flex();
				}
			}
		}
	}
}

// TESTIMONIAL
.testimonial
{
	/* The image used */
	background-image: url("../../../assets/img/testimonial-bg.png");

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	.grid
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1rem;
		align-items: stretch;

		@media screen and (max-width: 991px)
		{
			grid-template-columns: 1fr 1fr;
		}

		article
		{
			background-color: #fff;

			.testimony
			{
				@include flex();
				flex-direction: column;
				padding: 15px;
				
				.img-profile
				{
					min-width: 70px;
					max-width: 70px;
					
					img 
					{
					    @include transition(.3s);
					    width: 100%;
					    border-radius: 100%;
					    object-fit: cover;
					    -webkit-filter: grayscale(100%);

					    /* Safari 6.0 - 9.0 */
					    filter: grayscale(100%);

					    &:hover
					    {
					        filter: none;
					    }
					}
				}
			}
		}
	}

	h2
	{
		img
		{
		    margin-top: -30px;
		}
	}

}

// CONTACT US
.contact-us
{
	.form-control
	{
		border-radius: 0;
	}
}