@import "../../../styles";

*
{
	font-family: $poppins;
}

.sticky 
{
	@include transition(.3s);
	position: fixed;
	top: 0;
	width: 100%;
	// background-color: rgba($c-primary, 0.9);
	background-color: $c-primary;
}

.bg-custom-primary
{
	// background-color: $c-primary;
	background-color: transparent;
}

header
{
	@include transition(.3s);
	// background-color: rgba($c-primary, 0.4);
	background-color: $c-primary;
	position: fixed;
	width: 100%;
	z-index: 99;

	.navbar
	{
		.form-control
		{
			border-radius: 0;
		}

		.navbar-nav
		{
			margin-left: 2rem;

			.active
			{
				@include transition(.3s);
				border-bottom: 2px solid $c-secondary;

				.nav-link
				{
					color: $c-secondary !important;
				}
			}

			.nav-item
			{
				@include transition(.3s);
				border-bottom: 2px solid transparent;

				.nav-link
				{
					@include text-style($poppins, $reg, 14px);
					color: $nav-link;
					padding-left: 1rem;
					padding-right: 1rem;
				}

				&:hover
				{
					border-bottom: 2px solid $c-secondary;

					// animation: .3s border-bottom;
					// animation-iteration-count: infinite;

					.nav-link
					{
						@include transition(.3s);
						color: $c-secondary !important;
					}
				}
			}
		}

		.show-me
		{
			display: none !important;

			@media screen and (max-width: $tablet)
			{
				display: block !important;
			}
		}
		
		//search
		.g-item-3
		{
			.input-group-append
			{
				.btn
				{
					border-radius: 0;

					img
					{
						width: 15px;
					}
				}
			}
		}

		.user-login
		{
			.user-login
			{

			}
		}
	}

	nav
	{
		display: grid !important;
		grid-template-columns: auto auto auto auto auto;
		grid-gap: 1rem;
		grid-template-areas:
			"logo nav-link search cart login";

			@media screen and (max-width: 500px)
			{
				grid-template-areas:
					"logo cart login menu menu"
					"search search search search search"
					"nav-link nav-link nav-link nav-link nav-link";
			}

		.g-item-1
		{
			grid-area: logo;
		}

		.g-item-2
		{
			grid-area: nav-link;
		}

		.grid-item-3
		{
			grid-area: search;
		}

		.grid-item-4
		{
			grid-area: cart;
		}

		.grid-item-5
		{
			grid-area: login;
		}

		.grid-item-6
		{
			grid-area: menu;
		}

	}
}

footer
{
	background-color: #1B3651;
}

@import "media-query";



