<header id="pageHeader">
	<nav class="navbar navbar-expand-lg navbar-dark bg-custom-primary">
		<a class="navbar-brand g-item-1" href="#"><img src="../../../assets/img/logo.png" alt=""></a>
		<div class="collapse navbar-collapse g-item-2" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['']">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/about-us']">ABOUT US</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">PRODUCTS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">TESTIMONIALS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">CONTACT US</a>
				</li>
			</ul>
		</div>
		<div class="input-group g-item-3">
			<input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
			<div class="input-group-append">
				<button class="btn c-btn-secondary btn-search" type="button"><img src="../../../assets/img/svg/Search.svg" alt=""></button>
			</div>
		</div>
		<div class="g-item-4">
			<!-- <a href="#" class="d-flex align-items-center"><img src="../../../assets/img/svg/cart.svg" alt="" width="15"></a> -->
			<a href="javascript:" class="d-flex align-items-center my-cart"><fa name="fas fa-shopping-cart"></fa></a>
		</div>
		<div class="user-login g-item-5">
			<a [routerLink]="['/login']" class="d-flex align-items-center" style="text-decoration: none;">
				<img src="../../../assets/img/svg/user.svg" alt="" width="15">
				<span class="ml-2" style="color: #FFCC66; font-size: 14px">LOGIN</span>
			</a>
		</div>
		<button class="navbar-toggler g-item-6" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</header>
<router-outlet></router-outlet>
<footer>
	<div class="container-fluid">
		<div class="footer-content py-3">
			<div class="g-item-1 text-light">
				<small>POWERED BY: DIGIMA WEB SOLUTIONS INC.</small>
			</div>
			<div class="g-item-2 text-light">
				<small>© ULTRA PROACTIVE MARKETING INC 2018</small>
			</div>
			<div class="g-item-3 social-icons">
				<a href="#" class="p-1 text-light"><fa name="fab fa-instagram"></fa></a>
				<a href="#" class="p-1 text-light"><fa name="fab fa-twitter"></fa></a>
				<a href="#" class="p-1 text-light"><fa name="fab fa-facebook-f"></fa></a>
			</div>
		</div>
	</div>
</footer>