@import "../../../styles";

*
{
    font-family: $lato;
}

.form-control
{
	border-radius: 0;
}

.card, .card-header
{
	border-radius: 0;
}

.login-section
{
	@include flex();
	background-color: #E6E6E6;
	// flex-basis: 500px;
	height: 100vh;

	@media screen and (max-width: 575px) 
	{
		height: auto;
		padding-top: 72px;
	}

	form
	{
		background-color: #555;
		width: 400px;

		.card
		{
			.c-header
			{
				@include flex();
				padding: 1rem 0;
				background-color: #FFCC66;
			}

			.card-body
			{
				padding: 30px;
				
				.bottom
				{
					@include flex();
					flex-direction: column;

					a
					{
						text-decoration: none;
					}
				}
			}
		}
	}
}