<div class="container py-5">
	<h2 class="c-primary mt-5 pb-2">CONTACT US</h2>
	<div class="row clearfix">
		<div class="col-md-6">
			<form action="" method="get" accept-charset="utf-8">
				<div class="form-group">
					<input type="text" name="" class="form-control" placeholder="Full Name">
					<input type="email" name="" class="form-control my-2" placeholder="Email Address">
					<textarea name="" class="form-control" rows="10" cols="15" placeholder="Type something here..."></textarea>
					<!-- <button class="c-btn-r0 c-btn-primary my-2 px-4">SEND</button> -->
					<button class="myButt reveal-right my-2 px-4">
					<span>SEND</span>
					<div class='icon'><fa name="far fa-paper-plane"></fa></div>
					</button>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<div class="other-info">
				<h5 class="c-primary">MAIN OFFICE</h5>
				<h6 class="text-light">Mindanao</h6>
				<h5 class="c-primary">EMAIL ADDRESS</h5>
				<h6 class="text-light">support@promag300.com</h6>
				<h5 class="c-primary">CONTACT NUMBER</h5>
				<h6 class="text-light">+632 995 967 8688 | +632 932 875 2318</h6>
			</div>
		</div>
	</div>
</div>