<main class="py-5">
	<div class="container">
		<h2 class="c-primary mt-5">PRODUCTS</h2>
		<div class="grid">
			<nav class="navbar-expand-lg navbar-light categories">
				<div class="cat-holder">
					<h4 class="c-primary py-2 text-center w-100">CATEGORIES</h4>
					<button class="navbar-toggler m-1" 
							type="button" 
							data-toggle="collapse" 
							data-target="#categories" 
							aria-controls="categories" 
							aria-expanded="false" 
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<!-- Nav tabs -->
				<div class="collapse navbar-collapse" id="categories">
					<div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<!-- <a class="javascript:">CATEGORIES</a> -->
						<a class="nav-link active" id="all-prod-tab" data-toggle="pill" href="#show-all-prod" role="tab" aria-controls="show-all-prod" aria-selected="true">ALL</a>
						<!-- <a class="nav-link"
							data-toggle="collapse"
							data-target="#subcategories" 
							aria-expanded="false"
							aria-controls="subcategories">
							WITH SUB CATEGORY
						</a>
						<div class="collapse" id="subcategories">
							<a class="nav-link" id="others" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">MY SUBCATEGORY-1</a>
						</div> -->
						<a class="nav-link" id="other-prod-tab" data-toggle="pill" href="#show-other-prod" role="tab" aria-controls="show-all-prod" aria-selected="false">OTHERS</a>
					</div>
				</div>
			</nav>
			<section class="products">
				<!-- Tab panes -->
				<div class="tab-content" id="v-pills-tabContent">
					<!-- ALL PRODUCTS -->
					<div class="tab-pane fade show active" id="show-all-prod" role="tabpanel" aria-labelledby="all-prod-tab">
						<div class="prod-grid-wrapper">
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/promag50.JPG" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Promag 300 50ml</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/promag150.JPG" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Promag 300 150ml</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/promag1.JPG" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Promag 300 1 Liter</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/soap.jpg" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Victoria La Bella Soap</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/promag1.JPG" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Promag 300 1 Liter</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/promag150.JPG" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Promag 300 150ml</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/perfume.jpg" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Perfume 50ml EDPL</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/perfume.jpg" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Perfume 50ml EDPL</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/perfume.jpg" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">Perfume 50ml EDPL</figcaption>
							</div>
						</div>
					</div>

					<!-- OTHERS -->
					<div class="tab-pane fade" id="show-other-prod" role="tabpanel" aria-labelledby="other-prod-tab">
						<div class="prod-grid-wrapper">
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/perfume.jpg" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">PERFUME 50ML EDPl</figcaption>
							</div>
							<div class="prod-holder">
								<figure>
									<img class="img-fluid" src="../../../assets/img/perfume.jpg" alt="">
									<a href="javascript:" [routerLink]="['/product/product_content']" class="overlay">
										<h1 class="text-center">
											<fa name="fas fa-shopping-cart"></fa>
											<br>
											<h5>ADD TO CART</h5>
										</h1>
									</a>
								</figure>
								<figcaption class="text-light text-limit p-2">PERFUME 50ML EDP</figcaption>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</main>