<div class="container py-5">
	<h2 class="c-primary mt-5">TESTIMONIALS</h2>
	<main class="grid pt-4">
		<!-- <h1 class="c-primary py-4">TESTIMONIALS</h1> -->
		<article>
			<div class="testimony">
				<div class="img-profile mt-2">
					<img src="../../../assets/img/profile1.jpg">
				</div>
				<div class="name text-dark my-2">John Doe</div>
				<div class="social-icon">
					<a href="#" class="text-light"><fa name="fab fa-instagram"></fa></a>
					<a href="#" class="text-light mx-4"><fa name="fab fa-twitter"></fa></a>
					<a href="#" class="text-light"><fa name="fab fa-facebook-f"></fa></a>
				</div>
				<p class="card-text text-light text-center mt-2">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			</div>
		</article>
		<article>
			<div class="testimony">
				<div class="img-profile mt-2">
					<img src="../../../assets/img/profile2.jpg">
				</div>
				<div class="name text-dark my-2">Drew Duncan</div>
				<div class="social-icon">
					<a href="#" class="text-light"><fa name="fab fa-instagram"></fa></a>
					<a href="#" class="text-light mx-4"><fa name="fab fa-twitter"></fa></a>
					<a href="#" class="text-light"><fa name="fab fa-facebook-f"></fa></a>
				</div>
				<p class="card-text text-light text-center mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquid, consectetur officiis explicabo velit impedit laborum ullam dolore quis tempore!</p>
			</div>
		</article>
		<article>
			<div class="testimony">
				<div class="img-profile mt-2">
					<img src="../../../assets/img/profile3.jpg">
				</div>
				<div class="name text-dark my-2">Bruce Michael</div>
				<div class="social-icon">
					<a href="#" class="text-light"><fa name="fab fa-instagram"></fa></a>
					<a href="#" class="text-light mx-4"><fa name="fab fa-twitter"></fa></a>
					<a href="#" class="text-light"><fa name="fab fa-facebook-f"></fa></a>
				</div>
				<p class="card-text text-light text-center mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cumque accusamus repudiandae labore eveniet quam.</p>
			</div>
		</article>
		<article>
			<div class="testimony">
				<div class="img-profile mt-2">
					<img src="../../../assets/img/profile4.jpg">
				</div>
				<div class="name text-dark my-2">Jesicca Miller</div>
				<div class="social-icon">
					<a href="#" class="text-light"><fa name="fab fa-instagram"></fa></a>
					<a href="#" class="text-light mx-4"><fa name="fab fa-twitter"></fa></a>
					<a href="#" class="text-light"><fa name="fab fa-facebook-f"></fa></a>
				</div>
				<p class="card-text text-light text-center mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, odit!</p>
			</div>
		</article>
		<article>
			<div class="testimony">
				<div class="img-profile mt-2">
					<img src="../../../assets/img/profile1.jpg">
				</div>
				<div class="name text-dark my-2">John Doe</div>
				<div class="social-icon">
					<a href="#" class="text-light"><fa name="fab fa-instagram"></fa></a>
					<a href="#" class="text-light mx-4"><fa name="fab fa-twitter"></fa></a>
					<a href="#" class="text-light"><fa name="fab fa-facebook-f"></fa></a>
				</div>
				<p class="card-text text-light text-center mt-2">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			</div>
		</article>
		<article>
			<div class="testimony">
				<div class="img-profile mt-2">
					<img src="../../../assets/img/profile2.jpg">
				</div>
				<div class="name text-dark my-2">Drew Duncan</div>
				<div class="social-icon">
					<a href="#" class="text-light"><fa name="fab fa-instagram"></fa></a>
					<a href="#" class="text-light mx-4"><fa name="fab fa-twitter"></fa></a>
					<a href="#" class="text-light"><fa name="fab fa-facebook-f"></fa></a>
				</div>
				<p class="card-text text-light text-center mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquid, consectetur officiis explicabo velit impedit laborum ullam dolore quis tempore!</p>
			</div>
		</article>
		<article>
			<div class="testimony">
				<div class="img-profile mt-2">
					<img src="../../../assets/img/profile3.jpg">
				</div>
				<div class="name text-dark my-2">Bruce Michael</div>
				<div class="social-icon">
					<a href="#" class="text-light"><fa name="fab fa-instagram"></fa></a>
					<a href="#" class="text-light mx-4"><fa name="fab fa-twitter"></fa></a>
					<a href="#" class="text-light"><fa name="fab fa-facebook-f"></fa></a>
				</div>
				<p class="card-text text-light text-center mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cumque accusamus repudiandae labore eveniet quam.</p>
			</div>
		</article>
		<article>
			<div class="testimony">
				<div class="img-profile mt-2">
					<img src="../../../assets/img/profile4.jpg">
				</div>
				<div class="name text-dark my-2">Jesicca Miller</div>
				<div class="social-icon">
					<a href="#" class="text-light"><fa name="fab fa-instagram"></fa></a>
					<a href="#" class="text-light mx-4"><fa name="fab fa-twitter"></fa></a>
					<a href="#" class="text-light"><fa name="fab fa-facebook-f"></fa></a>
				</div>
				<p class="card-text text-light text-center mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, odit!</p>
			</div>
		</article>
	</main>
</div>